* { outline: 1px solid red;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.logo {
    font-size: 24px;
    color: #F1FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
}

a {
    text-decoration: none;  
    color:#E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.hero-content {
    display: flex;
    width: 800px;
}

.hero-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 40px;
}

.hero-info {
     height: 300px;
     width: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.hero-info-2 {
    width:auto;
    height: 300px;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.hero-text {
    font-size: 18px;
    color: #F9FAF8;
}

.btn-hero{
    background-color: #3882F6;
    border-radius: 5px;
}

.main {
    display: flex;
    flex-direction: column;
}

.main-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.main-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.item {
    padding: 50px;
    max-width: 200px;

}

.image {
    border: 3px solid #3882F6;
    border-radius: 5px;
    width: auto;
    height: 200px;
}

.subtext {
    margin-top: 10px;
}

.btn-action {
    background-color: #3882F6;
    border-radius: 5px;
}